<a href="https://colab.research.google.com/github/Ghebr0us/python-appunti-esercizi/blob/main/esercizio1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

a. far inserie all'utente due valori interi

In [ ]:
num1 = int(input("inserire il num 1 :"))
num2 = int(input("inserire il num 2 :"))

inserire il num 1 :10
inserire il num 2 :15

b. effettuare le 4 operazioni aritmetiche tra i due numeri

In [ ]:
num1 + num2, num1 - num2,  num1 * num2, num1 / num2

(25, -5, 150, 0.6666666666666666)

c. effettuare l'elevamento a potenza del primo numero per il secondo

In [ ]:
num1**num2

1000000000000000

d. effettuare il calcolo del resto della divisione tra il primo e il secondo numero

In [ ]:
divmod(num1,num2)

(0, 10)

f. effettuare la divisione intera tra il primo e il secondo numero

In [ ]:
num1//num2

0

g. incrementare di una unità entrambi i numeri

In [ ]:
num1= num1 + 1
num2= num2 + 1
print(num1,num2)

11 16

h. far inserie all'utente due valori: il primo rappresenta la sua altezza (in metri) e il secondo rappresenta il suo peso (in kg). Visualizzare poi l'IMC (google it...)

In [ ]:
altezza =float(input("inserire propria altezza in m:"))
peso=float(input("inserire il proprio peso in kg:"))
IMC= (peso/ (altezza**2))
print(IMC)

inserire propria altezza in m:1.7
inserire il proprio peso in kg:60
20.761245674740486

In [ ]:
print(round(IMC))

21

j. visualizzare il proprio nome, cognome, data di nascita e città di nascita separando le informazioni con un trattino.

In [ ]:
trattino ="-"
information= print("Davide"+trattino+"Ghebrous"+ trattino +"08/01/2005"+ trattino + "Milano" )

Davide-Ghebrous-08/01/2005-Milano

k. visualizzare le stesse informazioni per 10 volte di seguito

In [3]:
trattino ="-"
print(("Davide"+ trattino +"Ghebrous"+ trattino +"08/01/2005"+ trattino + "Milano")*10)

Davide-Ghebrous-08/01/2005-MilanoDavide-Ghebrous-08/01/2005-MilanoDavide-Ghebrous-08/01/2005-MilanoDavide-Ghebrous-08/01/2005-MilanoDavide-Ghebrous-08/01/2005-MilanoDavide-Ghebrous-08/01/2005-MilanoDavide-Ghebrous-08/01/2005-MilanoDavide-Ghebrous-08/01/2005-MilanoDavide-Ghebrous-08/01/2005-MilanoDavide-Ghebrous-08/01/2005-Milano

l. assegnare il proprio nome e cognome ad una stringa e visualizzarla con tutte le lettere maiuscole

In [ ]:
name = "davide ghebrous"
print(name.upper())

DAVIDE GHEBROUS

m. assegnare il proprio nome e cognome ad una stringa e visualizzarla con le prime lettere maiuscole

In [ ]:
name = "davide ghebrous"
print(name.title())

Davide Ghebrous

n. assegnare il proprio nome e cognome ad una stringa e visualizzarne la lunghezza

In [4]:
name = "davide ghebrous"
print("The string '%sname' string is %d characters long" % (name, len(name)) )

The string 'davide ghebrousname' string is 15 characters long

o. assegnare il proprio nome e cognome ad una stringa e contate quante vocali contiene

In [18]:
name = "davide ghebrous"
print(name.count("a")+name.count("e")+name.count("i")+name.count("o")+name.count("u"))

6

p. assegnare il proprio nome e cognome ad una stringa e visualizzare i primi 5 caratteri

In [19]:
name = "davide ghebrous"
print("le vocali all'interno della stringa sono: ",name[0:5])

le vocali all'interno della stringa sono:  david

q. assegnare il proprio nome e cognome ad una stringa e visualizzare gli ultimi 5 caratteri

In [30]:
name = "davide ghebrous"
print("le vocali all'interno della stringa sono: ",name[10:16])

le vocali all'interno della stringa sono:  brous

r.. assegnare il proprio nome e cognome ad una stringa e visualizzare i 5 caratteri centrali

In [32]:
name = "davide ghebrous"
print("le vocali all'interno della stringa sono: ",name[4:9])

le vocali all'interno della stringa sono:  de gh

s. assegnare il proprio nome e cognome ad una stringa e sostituire le vocali con una X

In [37]:
name = "davide ghebrous"
print(name.replace("a", "x").replace("e", "x").replace("i", "x").replace("o", "x").replace("u", "x"))

dxvxdx ghxbrxxs